//
// Base styles
// ============================================================================
// Styles for base html elements. NO CLASSES ALLOWED!
//


// Typography
// ----------------------------------------------------------------------------

// html

body {
  background-color: $background-color;
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  width: 100%;

  @include bp(medium) {
    font-size: $font-size * 1.125;
  }
}

a,
a:visited {
  color: $color--link;
  text-decoration: none;
}

a:hover,
a:active {
  color: $color--link;
  text-decoration: underline;
}

// abbr
// address
// b
// blockquote
// blockquote cite
// cite
// code
// del
// dfn
// dl
// dt
// dd
// em

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  margin-top: 1.5em;
  margin-right: auto;
  margin-bottom: .5em;
  margin-left: auto;
  padding-top: 0;
  padding-bottom: 0;
  font-family: $font-family--alt;
  color: $color;

  a,
  a:visited {
    color: $color--link;
  }
}

h1 {
  font-size: 2.25em;
  max-width: $max-width / 2.25;
  padding-right: $font-size / 2.25;
  padding-left: $font-size / 2.25;
}

h2 {
  font-size: 1.75em;
  max-width: $max-width / 1.75;
  padding-right: $font-size / 1.75;
  padding-left: $font-size / 1.75;
}

h3 {
  font-size: 1.25em;
  max-width: $max-width / 1.25;
  padding-right: $font-size / 1.25;
  padding-left: $font-size / 1.25;
}

h4,
h5,
h6 {
  font-size: $font-size;
  margin-bottom: 0;
  padding-right: $font-size;
  padding-left: $font-size;
  max-width: $max-width;
}

hr {
  border-bottom: .125em solid $base1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin-top: $font-size * 2;
  margin-right: auto;
  margin-bottom: $font-size * 2;
  margin-left: auto;
  width: 25%;
}

// i
// ins
// kbd
// mark

ol {
  list-style-type: decimal;
}

p {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: $font-size;
  margin-left: auto;
  max-width: $max-width;
  padding-top: 0;
  padding-right: $font-size;
  padding-bottom: 0;
  padding-left: $font-size;
}

// pre
// pre code
// pre samp
// q
// s
// samp
// small
// strong
// sub
// summary
// sup
// time
// u

ul {
  list-style-type: disc;
}

ol,
ul {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: $font-size;
  margin-left: auto;
  padding-top: 0;
  padding-right: $font-size;
  padding-bottom: 0;
  padding-left: $font-size * 2;
  max-width: $max-width;
}

li > * {
  padding-left: 0;
}

ul ol,
ul ul,
ol ol,
ol ul {
  margin-bottom: 0;
  padding-left: $font-size;
}

// var

::-moz-selection {
  text-shadow: none;
}

::selection {
  text-shadow: none;
}


// Media
// ----------------------------------------------------------------------------

figure {
  max-width: $max-width;
  padding-top: 0;
  padding-right: $font-size;
  padding-bottom: 0;
  padding-left: $font-size;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: $font-size;
  margin-left: auto;
  height: auto;
}

// video

figcaption {
  color: $base0;
  font-family: $font-family--alt;
  font-style: italic;
  max-width: $max-width;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: $font-size;
  margin-left: auto;
  padding: 0;

  > * {
    font-style: italic;
    margin-top: 0;
    color: $base00;
    padding: 0;
  }
}


// Forms
// ----------------------------------------------------------------------------

// form


// Tables
// ----------------------------------------------------------------------------

// table
// th
// td
// tbody
// thead
// tfoot
