/* ==========================================================================
Layout
========================================================================== */

* {
  box-sizing: border-box;
}

/* maintains overall site width */
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 1em;
}

.main {
}

/* Header
========================================================================== */
.site-header {
}

.site-title {
}

.site-description {
}

/* Nav
========================================================================== */
.site-nav {
}

.site-nav-list {
}

.site-nav-item {
}

.site-nav-link {
}

.is-active {
}

.pagination {
}


/* Site Footer
========================================================================== */
.site-footer {
}

.copyright {
  font-size: .875em;
  text-align: center;
  margin: 1em auto;
}
