/* ==========================================================================
Layout
========================================================================== */

* {
  box-sizing: border-box;
}

.social-list {
  @extend %clearfix;
  list-style: none;
}

.copyright {
  font-size: .875em;
  text-align: center;
  margin: 1em auto;
}
