//
// Layout styles
// ============================================================================
//

* {
  box-sizing: border-box;
}

.site-header {
  padding-top: 3em;
  padding-bottom: 3em;

  > :first-child {
    margin-top: 0;
    padding-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.site-footer {
  padding-top: 3em;
  padding-bottom: 3em;
}

.site-title {
  text-align: center;
  margin-bottom: 0;
  font-size: 3em;
  max-width: $max-width / 3;
  padding-right: $font-size / 3;
  padding-left: $font-size / 3;
}

.site-subtitle {
  font-family: $font-family;
  font-weight: 600;
  font-size: 1em;
  max-width: $max-width * .66;
  padding-right: $font-size;
  padding-left: $font-size;
  text-align: center;
  color: $base00;
  margin-top: .5em;
}

.list-internet {
  @extend %clearfix;
  @extend %no-bullet;
  list-style: none;
  text-align: center;

  li {
    display: inline;
  }

  a {
    padding-top: .75em;
    padding-right: 1em;
    padding-bottom: .75em;
    padding-left: 1em;
  }
}

.copyright {
  text-align: center;
}
