/* Post
========================================================================== */
.post {
  border-bottom: .125em solid $base2;
  padding: 1em 0;
}

.post-header {
  margin-bottom: 1em;
}

.post-title {
  margin: 0 auto;
  text-align: center;
  font-size: 2.25em;
}

.post-date {
  display: block;
  color: $base0;
  font-size: .75em;
  font-style: italic;
  text-align: center;
  margin-top: 1em;
}

.post-image {
}

.post-content {
  > div {
    max-width: 35em;
    margin: 0 auto 1em auto;
    padding: 0 1em;
  }
}


.lead-in {
  font-size: 1.5em;
  max-width: 23.333333333em;
  padding: 0 .666666667em;
}

.full {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

/* Single Post Styles */

.single {
}

/* List of Posts Styles */

.listing {
}
