/* Post
========================================================================== */
.post {
  border-bottom: .125em solid #E3E3E3;
  padding: 1em 0;
}

.post-header {
  margin-bottom: 1em;
}

.post-title {
  margin: 0 auto;
  text-align: center;
  font-size: 2.25em;
}

.post-date {
  display: block;
  color: $base0;
  font-size: .75em;
  font-style: italic;
  text-align: center;
  margin-top: 1em;
}

.post-image {
}

.post-content {
  max-width: 35em;
  margin: 0 auto;
}

.lead-in {
  font-size: 1.5em;
  font-weight: bold;
}

.full {
  width: 100%;
}

/* Single Post Styles */

.single {
  border-bottom: none;
}

/* List of Posts Styles */

.listing {
}
