/* ==========================================================================
Typography
========================================================================== */

body {
  background-color: $background;
  color: $grey-dark;
  font-family: "freight-text-pro", Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  line-height: 1.4;
  width: 100%;

  @include bp(medium) {
    font-size: 1.125em;
  }
}

a {
  color: $link;
  text-decoration: none;
}

a:hover {
  color: $link;
  border-bottom: 2px solid $link-highlight;
}

/*abbr*/

address {
  font-style: normal;
}

/*b*/

blockquote {
  margin: 0;
  padding: 0 0 0 1em;
  border-left: 4px solid $grey-light;
  color: $grey-medium;
}

blockquote cite {
}

/*cite*/

code {
  padding: .125em .25em;
  font-style: normal;
  font-size: .875em;
  background-color: $grey-light;
  border-radius: .125em;
}

/*del*/
/*dfn*/

/*dl*/

dt {
  font-weight: bold;
  font-style: italic;
}

dd {
  margin-bottom: .5em;
  margin-left: 1em;
}

/*em*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  margin: 1.5em 0 .5em;
  font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

  a {
    color: $grey-dark;
  }
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.25em;
}

h4,
h5,
h6 {
  font-size: 1em;
  margin: 1.5em 0 0 0;
}

hr {
  border-bottom: 2px solid $grey-light;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

/*i*/
/*ins*/
kbd {
  padding: .125em .25em;
  font-size: .875em;
  background-color: $grey-light;
  border-radius: .125em;
}

mark {
  background-color: $highlight;
  padding: .0625em .125em;
}

ol {
  list-style-type: decimal;
  margin-bottom: 1em;
  padding-left: 1em;
}

p {
  margin: 0 0 1em 0;
  max-width: 35em;
}

pre {
  padding: 1em;
  background-color: $grey-light;
  border-radius: .125em;
}

pre code {
  padding: 0;
  background-color: transparent;
}

/*q*/
/*s*/

samp {
  padding: .125em .25em;
  font-size: .875em;
  background-color: $grey-light;
  border-radius: .125em;
}

/*small*/
/*strong*/
/*sub*/
/*summary*/
/*sup*/
/*time*/
/*u*/

ul {
  list-style-type: disc;
  margin-bottom: 1em;
  padding-left: 1em;
}

ul,
ol {
  max-width: 35.5em;
}

ul ol,
ul ul,
ol ol,
ol ul {
  margin-bottom: 0;
}

/*var*/

/*::-moz-selection {
text-shadow: none;
}

::selection {
text-shadow: none;
}*/

img,
figure {
  max-width: 100%;
}

figcaption {
  color: $grey-medium;
  font-style: italic;

  > * {
    font-style: italic;
    margin-top: 0;
    color: desaturate(lighten($grey-dark, 30%), 90%);
  }
}
