/* ==========================================================================
Typography
========================================================================== */

body {
  background-color: #ffffff;
  color: $base03;
  font-family: "freight-text-pro", Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  line-height: 1.4;
  width: 100%;

  @include bp(medium) {
    font-size: 1.125em;
  }
}

a,
a:visited {
  color: $blue;
  text-decoration: none;
}

a:hover,
a:active {
  color: $blue;
  border-bottom: .125em solid $blue;
}

/*abbr*/

address {
  font-style: normal;
}

/*b*/

blockquote {
  margin: 0 auto;
  padding: 0 1em 0 0;
  border-left: .25em solid $base3;
  color: $base00;
  max-width: 33em;
}

blockquote cite {
}

/*cite*/

code {
  padding: .125em .25em;
  font-style: normal;
  font-size: .875em;
  background-color: $base3;
  border-radius: .125em;
}

/*del*/
/*dfn*/

dl {
  max-width: 35em;
  margin: 0 auto 1em auto;
  padding: 0 1em;
}

dt {
  font-weight: bold;
  font-style: italic;
}

dd {
  margin-bottom: .5em;
  margin-left: 1em;
}

/*em*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  margin: 1.5em auto .5em auto;
  font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $base02;

  a,
  a:visited {
    color: $base02;
  }
}

h1 {
  font-size: 2.25em;
  max-width: 15.555555556em;
  padding: 0 .444444444em;
}

h2 {
  font-size: 1.75em;
  max-width: 20em;
  padding: 0 .571428571em;
}

h3 {
  font-size: 1.25em;
  max-width: 28em;
  padding: 0 .8em;
}

h4,
h5,
h6 {
  font-size: 1em;
  margin-bottom: 0;
  padding: 0 1em;
  max-width: 35em;
}

hr {
  border-bottom: .125em solid $base3;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 2em auto;
  width: 25%;
}

/*i*/
/*ins*/
kbd {
  padding: .125em .25em;
  font-size: .875em;
  background-color: $base2;
  border-radius: .125em;
}

mark {
  background-color: $yellow;
  padding: .0625em .125em;
}

ol {
  list-style-type: decimal;
  margin: 0 auto 1em;
  padding: 0 1em 0 2em;
  max-width: 35em;
}

p {
  margin: 0 auto 1em auto;
  max-width: 35em;
  padding: 0 1em;
}

pre {
  padding: 1em;
  background-color: $base03;
  color: $base1;
  border-radius: .125em;
  max-width: 33em;
  margin: 1em;
  @include bp(35em) {
    margin: 1em auto;
  }
}

pre code,
pre samp {
  padding: 0;
  background-color: transparent;
}

/*q*/
/*s*/

samp {
  padding: .125em .25em;
  font-size: .875em;
  background-color: $base3;
  border-radius: .125em;
}

/*small*/
/*strong*/
/*sub*/
/*summary*/
/*sup*/
/*time*/
/*u*/

ul {
  list-style-type: disc;
  margin: 0 auto 1em;
  padding: 0 1em 0 2em;
  max-width: 35em;
}

ul,
ol {
  max-width: 35.5em;
}

ul ol,
ul ul,
ol ol,
ol ul {
  margin-bottom: 0;
}

li > * {
  padding-left: 0;
}

/*var*/

/*::-moz-selection {
text-shadow: none;
}

::selection {
text-shadow: none;
}*/

figure,
video {
  max-width: 35em;
  padding: 0 1em;
  margin: 0 auto;
  display: block;
}

img,
video {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}

figcaption {
  color: $base0;
  font-style: italic;
  max-width: 35em;
  margin: 0 auto 1em;
  padding: 0;

  > * {
    font-style: italic;
    margin-top: 0;
    color: $base00;
    padding: 0;
  }
}

form {
  max-width: 35em;
  padding: 0 1em;
  margin: 0 auto 1em auto;
}

table {
  max-width: 35em;
  padding: 0 1em;
  margin: 0 auto 1em auto;
}

th,
td {
  padding: .25em .75em;
}

tbody tr:nth-child(odd) {
  background: $base3;
}

thead {
  font-weight: bold;
}

tfoot {
  font-style: italic;
}
