$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$background:            #fff;
$grey-dark:             $base03;
$grey-medium:           $base01;
$grey-light:            lighten($base1, 30%);

$link:                  $blue;
$link-highlight:        lighten($blue, 30%);

$highlight:             lighten($yellow, 30%);

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%no-bullet {
  list-style-type: none;
  margin: 0;
  max-width: none;
  padding: 0;
}

@mixin bp($size) {
  @if $size == medium {
    @media only screen and (min-width: 48em) { @content; }
  }  @else if $size == large {
    @media only screen and (min-width: 64em) { @content; }
  } @else {
    @media only screen and (min-width: $size) { @content; }
  }
}
