$background:            #fff;
$grey-dark:             hsl(190, 100, 10);
$grey-medium:           hsl(190, 10, 40);
$grey-light:            hsl(190, 10, 95);

$link:                  hsl(190, 100, 30);
$link-highlight:        hsl(190, 50, 90);

$highlight:             hsl(50, 90, 80);

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%no-bullet {
  list-style-type: none;
  margin: 0;
  max-width: none;
  padding: 0;
}

@mixin bp($size) {
  @if $size == medium {
    @media only screen and (min-width: 48em) { @content; }
  }  @else if $size == large {
    @media only screen and (min-width: 64em) { @content; }
  } @else {
    @media only screen and (min-width: $size) { @content; }
  }
}
